<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBom" connectionString="data source=LENOVO-PC\LOCAL;initial catalog=BankOfMurica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=LENOVO-PC\LOCAL;initial catalog=BankOfMurica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BomDB" connectionString="data source=LENOVO-PC\LOCAL;initial catalog=BomDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BomDBEntities" connectionString="metadata=res://*/BMModel.BomDB.csdl|res://*/BMModel.BomDB.ssdl|res://*/BMModel.BomDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\LOCAL;initial catalog=BomDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BomDBEntities1" connectionString="metadata=res://*/BomDb.csdl|res://*/BomDb.ssdl|res://*/BomDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\LOCAL;initial catalog=BomDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>